body{
    background-color: #141414;
}
    
    
#footerIcons{
font-size: 30px;
}
#footerIcons i{
margin: 0 10px;
color: #C1C1C1;
}
.footerContent p{
font-size: 15px;
color: #C1C1C1;
margin: 5px 5px;
/* margin-left: 5px; */
}
   
.pinning-header .main-header .logo {
text-decoration: none;
font-size: 1.8em;
color: #E50914;
display: inline-block;
vertical-align: middle;
cursor: pointer;
margin-right: 5px;}
.pinning-header .main-header .logo {
margin-right: 25px;
}
.title-wrapper p{
margin-left: 2rem;
margin-bottom: 0.5rem;
font-size: 1.4vw;
color: white;
}

.title-wrapper h3{
color: white;
margin-left: 2rem;
}
footer {

bottom: 0;
width: 100%;
margin: 20px auto 0;

}
#search{
color:white
}
/* .wrap{
    margin-left: 300px;
    margin-right: 300px;
} */
img{
max-width: 100%;
max-height: 100%;
}
.col-2{
padding-left:4px!important;
padding-right:0!important;
}
.images-row.row{
    margin-left: 0px;
    margin-right: 0px;
}
.text-white{
    color: white;
}
.btn-group{
    background-color: #141414 !important;
    
    
}
.form-control {
    background-color: #141414 ;
}
#submit-btn{
    background-color: #e50914 ;
    border: none;
}

.new-category{
    color: white;
    margin-left: 2rem;
}
.carousel-img{
    width: 255px;
    height: 183px;
}
/* .movie-name{
   
} */
.movie-info{
    display: flex;
    flex-direction: column;
}
.glide__arrows button{
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #E50914;
    /* box-shadow: 9px -9px 21px 9px rgba(0,0,0,0.75); */
  }
  .glide__arrow--left{
    left: 1.5vw !important;
  }
  .glide__arrow--right{
    right: 1.5vw!important;
  }
  
  
  
  
  
  
  .glide__track{
    max-width: 90vw;
    margin: 0 auto;
  }
  .title{
    margin-left: 4vw;
  }